// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.bg-origin{
    background-color: #49ECF2;
}

button,a{
    cursor: pointer;
}

.color-origin{
    color: #fff;
}

.nav_register,
.nav_login{
    color: #747474;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    a{
        display: inline;
    }
}

.admin_login-title,
.admin_register-title{
    color: #707070;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.label_color{
    color: #898989;
}

.btn_origin{
    margin-top: 40px;
    text-align: center;
}

.btn_color{
    width: 200px;
    background-color: #646464;
    color: #fff;
    border-radius: 0%;
    &-sub{
        text-align: center;
        width: 120px;
        border-radius: 10px;
        margin-right: 10px;
    }
}

// banner
.back_btn{
    a{
        text-decoration: none;
        color: #050505;
    }
}

.banner_title{
    font-size: 32px;
}

.banner_rows{
    margin-top: 20px;
    margin-left: 50px;
}

.banner_row,.banner_row-form{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    &-img{
        background-color: #333;
        width: 120px;
        height: 80px;
        img{
            width: inherit;
            height: inherit;
        }
    }
    &-destroy{
        width: 30px;
        height: 25px;
        border: none;
        background-color: #fff;
        img{
            width: inherit;
            height: inherit;
        }
    }
}

.banner_create{
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
        img{
            width: inherit;
            height: inherit;
        }
}

input[type="file"]{
    color: transparent;
}

// user curriculum_list
.curriculum__container{
    button{
        border-style: none;
    }
}

.schedule__row{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.schedule__change{
    display: flex;
    gap: 15px;
    align-items: center;
}

.schedule__title{
    margin-bottom: 0;
}

.curriculum__wrapper{
    margin-top: 60px;
    display: flex;
    gap: 40px;
}

.grades{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.grade__btn{
    width: 120px;
    button{
        border-radius: 14px;
        width: inherit;
    }
}
.grade__btn--display{
    width: 120px;
    border-radius: 14px;
    text-align: center;
}

.grades__btn--0,
.grades__btn--1,
.grades__btn--2,
.grades__btn--3,
.grades__btn--4,
.grades__btn--5{
    background-color: #89E5F5;
}

.grades__btn--6,
.grades__btn--7,
.grades__btn--8{
    background-color: #77E4D4;
}

.grades__btn--9,
.grades__btn--10,
.grades__btn--11{
    background-color: #94CF57;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.card{
    width: 220px;
    transition: opacity 0.7s;
    &:hover{
        opacity: 0.7;
    }
    .img{
        margin: 10px;
        width: 200px;
        height: 130px;
        background-color: #000;
        img{
            width: 200px;
            height: 130px;
            object-fit: cover;
        }
    }
    .curriculum__title{
        margin-left: 10px;
        font-size: 18px;
    }
    .delivery{
        margin-top: 20px;
        margin-left: 10px;
        line-height: 1.0em;
    }
}

